WPF_AI스피커/20181107마지막 시험 클라/Service References/ServiceReference1/GetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7555/GetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WbService" />
  <xs:element name="AiSettingMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AiSettingMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AiSettingMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" type="xs:boolean" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Channel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stunumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WbService" minOccurs="0" name="GetDataListResult" nillable="true" type="q1:ArrayOfData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTv_On">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="power" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTv_OnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CTv_OnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLight_On">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="power" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLight_OnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CLight_OnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTv_ChannelUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chenl" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTv_ChannelUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CTv_ChannelUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLight_ChannelUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chenl" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLight_ChannelUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CLight_ChannelUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAiSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAiSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAiSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>